.details-profile {
    width: 100%;
    height: 100vh;
    background-color: #2a1d31;
    display: flex;
    align-items: center;
}

h4 {
    font-weight:700;
    color: #2a1d31;
}

.details-yellowbox p{
    color: #2a1d31;
}

.details-image {
    width: 30%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.d-image {
    width: 100%;
    
}

.details-character {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    width: 50%;
}

.semple {
    display: flex;
    margin: 50px;
}

.details-character-1 {
    color: white;
    padding: 40px;
    border-left: solid #e7bb41 10px;
}

.details-yellowbox {
    background-color: #e7bb41;
    width: 90%;
    height: 50%;
    padding: 40px;
    min-width: 500px;
    margin-bottom: 30px;
}

.details-yellowbox-inside {
    font-size: 20px;
    width: 80%;
}


.wookie-btn {
    color: #e7bb41;
    background-color: #2a1d31;
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 20px;
}

