.dark-side-container {
    background-color: #2a1d31;
}

.dark-side-container h1 {
    font-size: 25px;
    color: #e7e5df;
    text-align: center;
    padding: 17px;
    padding-top: 40px;
}

.dark-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #2a1d31;
    padding-top: 15px;
}

.red-light-saber {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dark-side-container p {
    color: #e7e5df;
    text-align: center;
    padding-bottom: 5px;
    font-size: 17px;
}