.modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: translateY(150%);
}

.modal .btnClose {
  padding: 10px 15px;
  background-color: rgb(218, 162, 244);
  border-radius: 5px;
}

/* @keyframes PopUp {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-in-out
}

50% {
    transform: translate(0px, 12px);
    animation-timing-function:ease-in-out
}

100% {
    transform: translate(0px, 0px);
    animation-timing-function:ease-in-out
}
} */