.card-profile {
    width: 320px;
    height: 500px;
    padding: 20px;
    padding-bottom: 85px;
    
}

.card-profile-img {
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 40px black;
    transition: transform 0.5s ease-in-out;
}

.card-img-dark:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card-profile h3 {
    color: black;
    text-shadow:1px 1px white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}