.card-profile {
    width: 320px;
    height: 500px;
    padding: 20px;
    padding-bottom: 85px;
}

.card-profile-img {
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 40px black;
    transition: transform 0.5s ease-in-out;
}

.card-profile-img:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card-profile h3 {
    color: black;
    text-shadow:1px 1px white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.favourite-btn {
    color: black;
    font-size: 14px bold;
    border: solid #e7bb41 0.5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: 25px;
    background-color: #e7e5df;
}