.parent-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #91709b, white 100%);
    height: 50px;
}

.child-navbar {
    font-size: 1.5rem;
    color: white;
}

.wall {
    justify-self: flex-end;
    color: black;
}

.starlove-navbar {
    height: 100%;
    position: relative;
    box-shadow: 5px 5px 7px #d4eb0d;
} 

.nav-mobile {
    display: flex;
    background: linear-gradient(to right, #91709b, white 100%);
    height: 50px;
    align-items: center;
    display: none;
}

.nav-mobile ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-mobile li {
    list-style-type: none;
}



@media screen and (max-width:1120px) {
    .button-navbar {
        font-size: 20px;
    }
}

@media screen and (max-width:1065px) {
    .button-navbar {
        font-size: 15px;
    }
}

@media screen and (max-width:980px) {
  
    .nav-mobile {
        display: flex;
        background: linear-gradient(to right, #91709b, white 100%);
        height: 50px;
        align-items: center;
        display: none;
    }
    
    .nav-mobile ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .nav-mobile li {
        list-style-type: none;
    }
    
}
