.grand-side {
    display: flex;
}

.parent-side {

    width: 50%;
}

.parent-side.light {
    background-color: #e7bb41;
    height: 100vh;
}

.parent-side.dark {
    background-color: #2a1d31;
    height: 100vh;
    /* display: flex; */
}

.child-side {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick-yo {
    align-self: flex-end;
    margin: 15% 0 10% 0;
    color: #2a1d31;
    font-size: 3em;
    font-weight: bold;
}

.ur-side {
    align-self: flex-start;
    margin: 15% 0 10% 0;
    color: #e7bb41;
    font-size: 3em;
    font-weight: bold;
}

.relationship {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2%;
    color: #393e41;
}

.hansolo {
    padding-top: 60px;
}

.stand {
    font-weight: bold;
    font-size: 1.5em;
    margin: 2%;
    color: white;
}
