.shame-profile {
    width: 320px;
    height: 500px;
    padding: 20px;
    padding-bottom: 85px;
}

.shame-profile-img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 40px red;
}

.shame-profile h3 {
    color: black;
    text-shadow:1px 1px white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}