.shame-profile {
    width: 420px;
    height: 600px;
    margin-bottom: 80px;
    padding: 20px;
    position: relative;
}

.wanted {
    height:530px;
    box-shadow: 2px 2px 40px red;
}

.shame-profile-img {
    z-index: 20;
    width: 65%;
    height: 65%;
    position: absolute;
    top:25%;
    left:18%;
}

.shame-profile h3 {
    color: black;
    text-shadow:1px 1px white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}